.title= title
= form_for @word do |f|
	= f.error_messages
	#people
		%h3 Who will you define?
		%p
			= f.text_field :personone
		%p
			= f.text_field :persontwo
		%p
			= f.text_field :personthree
	#word
		%h3 What do you think defines those three people? 
		%p
			%small (Don't forget to pluralize)
			%br
			= f.text_field :name
		%p
			%input.submit{:type => "submit", :value => "YAY GO!"}
	#douchebaggery
		%p.checkbox
			%input{:type => 'checkbox', :name => 'follow', :checked => true} 
				Follow the creators?
		%p.checkbox
			%input{:type => 'checkbox', :name => 'tweet', :checked => true} Tweet this?
%p= link_to "Back to List", words_path
