<%= title %>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>
<p>
  <strong>Personone:</strong>
  <%= @word.personone %>
</p>
<p>
  <strong>Persontwo:</strong>
  <%= @word.persontwo %>
</p>
<p>
  <strong>Personthree:</strong>
  <%= @word.personthree %>
</p>

<p>
  <%= link_to "View All", words_path %>
</p>
